<div class="my-3 mx-auto" style="width: 500px">
  <h1>タスク編集</h1>
  <%= form_for(@task) do |f| %>
    <div><%= f.text_field :task %></div>
    <div><%=f.date_select :limit_date, {discard_year: true} %></div>
    <div><%=f.number_field :priority%></div>
    <div><%= f.submit '完了', class: "btn btn-outline-warning" %></div>
  <% end %>
  <%= link_to '戻る', tasks_path %>
</div>