<% if flash[:danger]%>
  <div>
    <p class="alert alert-danger"><%= flash[:danger]%></P>
  </div>
<% end %>
<div style="width: 300px" class="mx-auto">
<%= form_with url: login_path do |f| %>
  <div> <%= f.text_field :mail, placeholder: "メールアドレス" %></div>
  <div><%=f.password_field :password , placeholder: "パスワード"%></div>
  <div><%= f.submit 'ログイン', class: "btn btn-outline-warning" %></div>
<% end %>
</div>