<div class="d-flex"><%# タスク入力エリア %>   
  <%= form_with model:@task do |f| %>
    <div><%= render 'layouts/error_messages', model: f.object %></div>
    <div><%= f.text_field :task, placeholder: "新規タスク" %></div>
    <div><%=f.date_select :limit_date%>まで</div>
    <div>優先度<%=f.number_field :priority, min: 1%></div>
    <div><%= f.check_box :public ,{checked: true}, "true", "false" %>公開しますか？</div>
    <div><%= f.submit '追加', class: "btn btn-outline-warning" %></div>   
  <% end %>
</div>