<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <header class="header1">
    <div class="header1-logo pl-3">
      <%= link_to tasks_path ,class:'d-flex' do %> 
        <img class="logo" src="/assets/footer-logo.png" alt="ロゴ">
        <p class="text-dark ml-2 align-self-center font-weight-bold">HAVE TODO</p>
      <% end %>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>

<footer class="footer1">
        <ul class="nav">
          <% if @current_user %>
            <%# if @current_user.admin? %>
              <li class="nav-item">
                <%=link_to tasks_path do%>
                  <i class="fas fa-home fa-2x fa-fw pt-2"></i>
                <% end %>
              </li>
            <%# end %><%# @current_user.admin? END %>
              <li class="nav-item">
                <%= link_to "/users/#{@current_user.id}/show" do %>
                <p><%#=@current_user.name %></p>
                <i class="far fa-address-card fa-2x fa-fw pt-2"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "/users/index" do %>
                  <i class="fas fa-users fa-2x fa-fw pt-2"></i>
                <% end %>
              </li>
            <% else %><%# -- if @current_user true END -- %>
              <li class="nav-item">
                <%= link_to "ログイン" , login_path ,class: 'btn btn-outline-primary mt-1' %>
              </li>
              <li class="nav-item">
                <%= link_to "アカウント作成" ,  users_new_path ,class: 'btn btn-outline-primary mt-1' %>
              </li>
          <% end %><%# -- if @current_user false END -- %>
        </ul>
</footer>
   
  </body>
</html>



